# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Virtual Environments
venv/
ENV/
env/
.venv/
**/venv/

# Caches and test logs
.pytest_cache/
.coverage
catboost_info/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
**/__MACOSX/
